.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #e6eff4, #f6eef5);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 70%;
  width: 70%;
}

@media screen and (max-width: 720px) {
  .container {
    height: 90%;
    width: 90%;
  }
}
